<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <script>
        function go(){
            location.href='http://dimi.c2w2m2.com/game'
        }
    </script>

    <img id="setting" src="img/settings-work-tool.png"></img>
    <img id="logout" src="img/logout.png"></img>
    <div id="entire">
        <h1 id="RM">방만들기</h1>
        <h1 id="FG">빠른입장</h1>
        <h1 id="RS">방검색</h1>
        <input id="IP"></input>
        <div id="room-external"></div>
        <h1 id="room-inner">방목록</h1>
        <div room-list id="room-list-left"></div>
        <div room-list id="room-list-right"></div>
        <img id="one" src="img/1.png" onclick="go()"><img>
        <img id="two" src="img/2.png" onclick="go()"><img>
        <img id="three" src="img/3.png" onclick="go()"><img>
        <img id="four" src="img/4.png" onclick="go()"><img>
        <img id="five" src="img/5.png" onclick="go()"><img>
        <img id="six" src="img/6.png" onclick="go()"><img>
        <img id="seven" src="img/7.png" onclick="go()"><img>
        <img id="eight" src="img/8.png" onclick="go()"><img>
    </div>
</body>

</html>